__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
dist/
*.sql
*.gz
*.zip
*.db
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
*~
odoo-dev/create_db.json
odoo-dev/login.json
odoo-dev/search_books.json
odoo-dev/data/
